# Node
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Junk files
folder_structure.txt
Y
cd
netstat
npm
rmdir
inventory-management-frontend@1.0.0

# Environment
.env
*.env.local

# Java/Spring Boot
target/
*.class
*.jar
*.war
*.log

# IDE
.idea/
.vscode/
*.iml
.project
.classpath